body {
    padding-top: 53px;
}

i {
    margin-right: 5px;
}

.center {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.btn + .btn,
.label + .label {
    margin-left: 10px;
}

a:hover {
    img {
        opacity: 0.8;
    }
}

.table {
    &.table-align-middle {
        tbody {
            td {
                vertical-align: middle;
            }
        }
    }
}