body {
    padding-top: 53px;
}

i {
    margin-right: 5px;
}

.capitalize {
    text-transform: capitalize;
}

.btn + .btn {
    margin-left: 10px;
}

.table {
    &.table-align-middle {
        tbody {
            td {
                vertical-align: middle;
            }
        }
    }
}