script(type='text/javascript', src='/js/libraries/pre-reqs/jquery-2.0.3.min.js')
script(type='text/javascript', src='/js/libraries/pre-reqs/yepnope-1.5.4.js')
script(type='text/javascript', src='/js/libraries/pre-reqs/underscore-1.5.2.min.js')
script(type='text/javascript', src='/js/libraries/pre-reqs/backbone-1.1.0.min.js')