/* line 1, ../../scss/global.scss */
body {
  padding-top: 53px;
}

/* line 5, ../../scss/global.scss */
i {
  margin-right: 5px;
}

/* line 9, ../../scss/global.scss */
.center {
  text-align: center;
}

/* line 13, ../../scss/global.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 18, ../../scss/global.scss */
.btn + .btn,
.label + .label {
  margin-left: 10px;
}

/* line 23, ../../scss/global.scss */
a:hover img {
  opacity: 0.8;
}

/* line 31, ../../scss/global.scss */
.table.table-align-middle tbody td {
  vertical-align: middle;
}

/* line 2, ../../scss/search.scss */
#search .result + .result {
  margin-top: 10px;
}
/* line 6, ../../scss/search.scss */
#search .title {
  padding-right: 10px;
}
/* line 10, ../../scss/search.scss */
#search .genres {
  margin-top: -2px;
}

/* line 2, ../../scss/game.scss */
#game-detail .background {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}
