/* line 1, ../../scss/global.scss */
body {
  padding-top: 53px;
}

/* line 5, ../../scss/global.scss */
i {
  margin-right: 5px;
}

/* line 9, ../../scss/global.scss */
.center {
  text-align: center;
}

/* line 13, ../../scss/global.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 17, ../../scss/global.scss */
.btn + .btn {
  margin-left: 10px;
}

/* line 24, ../../scss/global.scss */
.table.table-align-middle tbody td {
  vertical-align: middle;
}
