#loading.row
    .col-xs-12
        .well
            h3= t('app.generic.loading')
                small= ' - ' + t('app.generic.wait')
            .progress.progress-striped.active
                #progress-bar-inner.progress-bar