.container
    .row
        .col-xs-6
            a(href='$', target='_blank')
                i.fa.fa-github
                = t('app.nav.github')
            small.text-muted  - v.{version}
        .col-xs-6
            .pull-right
                p Blah