|{#error}
.row
    .col-12.col-lg-12.center
        p {error}
|{:else}
|{#loading}
include tpl_spinner
|{/loading}
|{#results}
.row.result
    .col-12.col-lg-2
        a(href='/game/{steam_appid}')
            img.img-rounded(src='http://cdn2.steampowered.com/v/gfx/apps/{steam_appid}/capsule_sm_120.jpg')
    .col-12.col-lg-10
        .row
            .col-12.col-lg-12
                .title.pull-left
                    a(href='/game/{steam_appid}') {name}
                .genres.pull-left.label-list
                    |{#genres}
                    a.label.label-default(href='/search?genres={id}') {description}
                    |{/genres}
        .row
            .col-12.col-lg-12
                .categories.label-list
                    |{#categories}
                    a.label.label-primary(href='/search?categories={id}') {description}
                    |{/categories}
|{/results}
|{^results}
.row
    .col-12.col-lg-12.center Use the search options above to find matches
|{/results}
|{/error}