#modal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
				h3#modal-title {title}
			.modal-body
				p {message}
			.modal-footer
				button.btn.btn-cancel(data-dismiss="modal",aria-hidden="true") Cancel
				button.btn.btn-confirm(class="btn-{button}") {button_text}