nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href='/')
                | {name}
                small  {version}
            button.navbar-toggle(data-target='.navbar-collapse', data-toggle='collapse', type='button')
                span.sr-only= t('app.nav.toggle-nav')
                span.icon-bar
                span.icon-bar
                span.icon-bar
        nav.collapse.navbar-collapse.navbar-inverse-collapse(role='navigation')
            ul.nav.navbar-nav
                li
                    a(href='/')
                        i.fa.fa-home
                        = t('app.nav.home')
                li
                    a(href='/featured')
                        i.fa.fa-tags
                        = t('app.nav.featured')
                li
                    a(href='/search')
                        i.fa.fa-search
                        = t('app.nav.search')
                li
                    a(href='https://github.com/EnzoMartin78/Steam-Backbone-Storefront', target='_blank')
                        i.fa.fa-github
                        = t('app.nav.github')