.row
    .col-lg-12
        .page-header
            h1= t('app.featured.header')
        .page-content
            |{?coming_soon}
            .row
                h3 Coming Soon
                | {#coming_soon.items}
                .col-3.col-sm-3.col-lg-3.col-offset-1
                    | {>tpl_game_featured/}
                | {/coming_soon.items}
            .row
                h3 New Releases
                | {#new_releases.items}
                .col-3.col-sm-3.col-lg-3.col-offset-1
                    | {>tpl_game_featured/}
                | {/new_releases.items}
            .row
                h3 Specials
                | {#specials.items}
                .col-3.col-sm-3.col-lg-3.col-offset-1
                    | {>tpl_game_featured/}
                | {/specials.items}
            .row
                h3 Top Sellers
                | {#top_sellers.items}
                .col-3.col-sm-3.col-lg-3.col-offset-1
                    | {>tpl_game_featured/}
                | {/top_sellers.items}
            | {:else}
            include tpl_loader
            | {/coming_soon}