.container
    .row
        .col-xs-6
            a(href='http://github.dice.ad.ea.com/platform/Playtest-Mate', target='_blank')
                i.fa.fa-github
                = t('app.nav.github')
            small.text-muted  - v.{version}
        .col-xs-6
            .pull-right
                p A DICE Platform team production - Read more on
                    a(href='https://frostbite.ea.com/display/Operations/Platform')  Confluence
                    |  or visit our
                    a(href='https://jira.dice.se:8443/browse/PL/component/16339')  Project JIRA