script#tpl_alert(type="text/html",class="dust-template")
	include templates/tpl_alert 
 
script#tpl_coming_soon(type="text/html",class="dust-template")
	include templates/tpl_coming_soon 
 
script#tpl_confirm_dialogue(type="text/html",class="dust-template")
	include templates/tpl_confirm_dialogue 
 
script#tpl_error_maximum_minimum(type="text/html",class="dust-template")
	include templates/tpl_error_maximum_minimum 
 
script#tpl_error_minimum_maximum(type="text/html",class="dust-template")
	include templates/tpl_error_minimum_maximum 
 
script#tpl_error_required(type="text/html",class="dust-template")
	include templates/tpl_error_required 
 
script#tpl_footer(type="text/html",class="dust-template")
	include templates/tpl_footer 
 
script#tpl_header(type="text/html",class="dust-template")
	include templates/tpl_header 
 
script#tpl_home(type="text/html",class="dust-template")
	include templates/tpl_home 
 
script#tpl_loader(type="text/html",class="dust-template")
	include templates/tpl_loader 
 
script#tpl_loading(type="text/html",class="dust-template")
	include templates/tpl_loading 
 
