doctype html
html(lang='#{lang}')
    include ../includes/header
    body#body
        header#header
        section.container
            #static-alerts
        section#content.container
            block main
        footer#footer
        #scripts
            block footer
                // Base libraries like jQuery/Yepnope
            block loaderscript
                // Script that does all the loading