!!! 5
html(lang='#{lang}', xmlns='http://www.w3.org/1999/xhtml')
    include ../includes/header
    body#body
        header#header
        section#content.container
            block main
        footer#footer
    block footer
        // Base libraries like jQuery/Yepnope
    block loaderscript
        // Script that does all the loading